


<blockquote class="h1 blockquote text-center">
  <div class="h1" id="div1">"You miss all the shots you don't take"</div>
<div class="h4" id="div2">-Wayne Gretzky</div>
<div class="h5" id="div3">-Michael Scott</div>
</blockquote>