body {
 
  
  background-color: black;

}

blockquote {
  position: relative;
  top: 200px;
}

.b-fancy {
  display: none;
  position: sticky;
  width: 900px;
  height: 900px; 
  top: 0;
  z-index: -1;

}

a {
  color: #00B7FF;
}

i {
  padding: 10px;
}

#logo {

  position: relative;
  top: -45px;
  left: -30px;
}

#div1 {
  display: none;
}


#div2 {
  display: none;

}

#div3 {
  display: none;
}

#about {
 /* position: relative;*/
  background-color: white;
}

#icon {
  /*position: absolute;*/
  bottom: 0;
  
}

#employee {
  padding: 10px;
}
